<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nd.android.mdm.runinfo">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <application>
        <activity
            android:name="com.nd.android.mdm.appusage.AppUsageRequestActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    </application>
</manifest>
