<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nd.android.mdm.biz.env">

    <application>

        <receiver android:name=".MdmEnvBroadcastReceiver"
            android:exported="true"
            android:enabled="true"
            android:process=":sdp_download_startalone">
            <intent-filter>
                <action android:name="com.nd.mdm.env.switch" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
